{% extends 'base.html' %}
{% load  static %}

{% block  content%}

    <br>

    <div class="container">
        <div class="content-header">
                <h5><img src="{% static 'icons/menu.png' %}">  MEMES</h5><hr>
        </div>
        <div class="row">
            {% for x in memes %}
            <div class="col-md-4 meme-col" style="padding: 2%">
                <h5>{{ x.tittle }}</h5>
                <div class="meme" style="padding: 5%">
                    <a href="{% url 'memesapp:single_meme' x.id  %}"><img src="{{ x.image.url }}"></a>
                </div>
            </div>
            {% endfor %}
        </div>



    </div>

    <br>
    <br>


{% endblock %}