{% extends 'base.html' %}
{% load  static %}

{% block  content%}

    <div class="container">

    <br><br>
        <h1 style="font-size: 24px;font-weight: 500;text-align: center;font-family: Roboto, sans-serif;color: #2874f0">ABOUT US</h1><br><br>
        <div style="text-align: center">

            <img src="{% static 'images/baklol 1 (1).png' %}" width="30%">
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-sm-12" style="padding: 2% 5%;text-align: justify">
                <p style="font-family: Roboto, sans-serif"> Wanna remain well-informed but can't because long articles and non-sense narrations bore you? </p>

                <p style="font-family: Roboto, sans-serif"> We're here to the rescue. At BaK-LoL TV, we provide you factual, source-based information on political, economic, social development issues and current affairs with a twist of entertainment. We laugh and have fun but never at the expense of someone's reputation.  </p>

                <p style="font-family: Roboto, sans-serif">  We have no political or religious affiliations. What matters most to us is that our audience is well-informed and does not fall prey to power hungry rumor and hate mongers. And with this aim in mind, we go through all perspectives and double check the information before we present it to you using creative means. We sing for you. We dance for you! We act for you! We CREATE for you!  </p>

                <p style="font-family: Roboto, sans-serif"> Though our main focus area is the issues in Jammu and Kashmir, we also cover topics of global and national importance occasionally. Our work also aims to connect you to inspiring people from all fields. From artists to politicians, we interview them all, asking them questions that we believe you should know the answers of! </p>

                <p style="font-family: Roboto, sans-serif">  And public opinion? We bring that to you as well! </p>

            </div>

        </div>

    </div>


{% endblock %}